<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Lista de alimentos</title>
  <link rel="stylesheet" href="/static/estetica.css">
</head>
<body>

<header>
  <!-- Logo à esquerda -->
  <div class="conteiner">
        <div  class="logo" style="cursor: pointer;"><a href=""><img class="imagem_login" src='/static/logo.png'></a></div>
  </div>

   <!-- Área direita: usuário + menu -->
  <div class="usuario_menu">
    <!-- Usuário -->
    <div class="icones">

      <div class="icone_mais" id="botao_mais">
          <img src="/static/mais.png" alt="" style="width: 25px; height: 25px;">
      </div>
      <div class="icone" id="icone-perfil">
        <img src="/static/perfil.png" alt="" style="width: 25px; height: 25px; cursor: pointer;">
      </div>

      <!-- MENU QUE APARECE AO CLICAR -->
      <div class="menu-perfil" id="menu-perfil">
      <a href="#">👤 Ver perfil</a>
      <a href="#">✏️ Editar perfil</a>
      <a href="#">🚪 Sair</a>
      </div>

      <div class="nome-cargo">
        <p class="nome">GAJUMA</p>
        <p class="cargo">Admin</p>
      </div>
    </div>

    <!-- Menu abaixo do usuário -->
    <nav class="menu">
      <a href="http://localhost:63342/projeto_finalWEb/templates/home.html?_ijt=jgkm1rkcqpnancthbkrqj2r3hq">Home</a>
      <a href="http://localhost:63342/projeto_finalWEb/templates/alimentos.html?_ijt=4indtctctq9fdftqvuh1hs3go2">Alimentos</a>
      <a href="http://localhost:63342/projeto_finalWEb/templates/pedidos.html?_ijt=r239dokaeq5cue5ad7odktlcdh#">Pedidos</a>
      <a href="http://localhost:63342/projeto_finalWEb/templates/funcionarios.html?_ijt=hemcprhrtacmduqjs9ntjsck10">Funcionários</a>
      <a href="http://localhost:63342/projeto_finalWEb/templates/status.html?_ijt=kfgvpbhdevnl896it7ut617g4g">Status</a>
    </nav>
  </div>
</header>

<!-- Painel de cadastro -->
<div class="painel-cadastro" id="painel-cadastro">
  <a href="http://localhost:63342/projeto_finalWEb/templates/cadastro_funcionario.html?_ijt=pmfmm49jgqui8kvmh9s85hgoq3">Cadastrar funcionário</a>
  <a href="http://localhost:63342/projeto_finalWEb/templates/cadastro_alimentos.html?_ijt=pmfmm49jgqui8kvmh9s85hgoq3">Cadastrar Alimento</a>
</div>

  <div class="cards-funcionario">
    <div class="alimento">
  <h1 class="nome_alimento">Alimentos</h1>
  <div class="alimentos">
    <div class="informacoes_alimento">
      <div class="numero_alimento">1</div>
        <p><strong>Nome:</strong> Hambúrguer </p>
        <p><strong>Categoria:</strong> Salgado </p>
        <p><strong>Descrição:</strong> Pão de hambúrguer, hambúrguer de carne, queijo, alface, tomate, cebola, picles,
          ketchup, mostarda, maionese, bacon.</p>
        <p><strong>Marca:</strong> Aroma e Sabor </p>
         <p><strong>Valor:</strong> R$ 15,00 </p>
        <p><strong>Quantidade:</strong> 9</p>
    </div>
        <a class="botao_editar_alimento" href="http://localhost:63342/projeto_finalWEb/templates/cadastro_alimentos.html?_ijt=r0j36va4v4ln6hb624col87372">Editar</a>
  </div>

  <div class="alimentos">
    <div class="informacoes_alimento">
        <div class="numero_alimento">2</div>
          <p><strong>Nome:</strong> 12345</p>
          <p><strong>Categoria:</strong> Salgado</p>
          <p><strong>Descrição:</strong> Pão de queijo tradicional,requeijão,queijo,presunto</p>
          <p><strong>Marca: </strong> Forno de minas</p>
          <p><strong>Valor:</strong> R$ 6,00</p>
          <p><strong>Quantidade:</strong> 26</p>
        </div>
        <a class="botao_editar_alimento" href="http://localhost:63342/projeto_finalWEb/templates/cadastro_alimentos.html?_ijt=r0j36va4v4ln6hb624col87372">Editar</a>
   </div>
  </div>
  </div>
</div>


<script>
  const iconePerfil = document.getElementById("icone-perfil");
  const menuPerfil = document.getElementById("menu-perfil");

  iconePerfil.addEventListener("click", () => {
    menuPerfil.style.display =
      menuPerfil.style.display === "block" ? "none" : "block";
  });

  document.addEventListener("click", (event) => {
    if (!iconePerfil.contains(event.target) && !menuPerfil.contains(event.target)) {
      menuPerfil.style.display = "none";
    }
  });
</script>


<script src="main.js"></script>

</body>
</html>

