<!DOCTYPE html>
<html lang="PT-BR">
<head>
  <meta charset="UTF-8">
  <title>base web</title>
  <link rel="stylesheet" href="../static/estetica.css">
</head>
<body>


<header>
    <div class="container">
        <a>Cadastro de funcionário</a>
        <a>Cadastro de produtos</a>
        <a>Pedidos</a>
        <a>Funcionários</a>
        <a>Status</a>
        <a>Total de pedidos</a>
        <div  class="logo" style="cursor: pointer;"><a href=""><img class="logo" src='/static/logo.png'></a></div>
        <div class="icones">
            <div class="icone">
                <img src="/static/perfil.png" alt="" style="width: 25px; height: 25px;">
            </div>
            <div class="nome-cargo">
                <p class="nome">GAJUMA</p>
                <p class="cargo">Admin</p>
            </div>
        </div>
    </div>
</header>


</body>
</html>