{% extends 'template.html' %}

{%block conteudo %}
<div class="tela-login">
    <div class="d-flex flex-column">
        <form id="postForm" class="form-login" method="POST" action="{{ url_for('usuario_cadastro')}}">
            <label class="label">
                Nome:
                <br>
                <input type="text" class="input-login" name="nome">
            </label>
            <br>
            <label class="label">
                Email:
                <br>
                <input type="email" class="input-login" name="email">
            </label><label class="label">
                Senha:
                <br>
                <input type="password" class="input-login" name="senha">
            </label><label class="label">
                Confirmação da Senha:
                <br>
                <input type="password" class="input-login" name="senha">
            </label>
            <br>
            <label class="label">
                Papel:
                <br>
                <input type="text" class="input-login" name="papel">
            </label>
            <br>
            <button type="submit" class="button-login">Enviar</button>
        </form>
        <div class="d-flex flex-row subtitulo-form">
            <p>Não tem uma conta?</p>
            <a href="{{ url_for('usuario_cadastro')}}" class="button-cadastro">Cadastre-se</a>
        </div>
    </div>
</div>
{% endblock %}

