{% extends 'template.html' %}

{% block title %}Lista Funcionários{% endblock %}

{% block conteudo %}
<div class="cabecalho">
    <h1>Funcionários</h1>
    <button type="button" class="button-cadastrar">
        <a href="{{ url_for('usuario_cadastro') }}" alt="Ícone de pessoa">Novo funcionário</a>
    </button>
</div>
<div class="conteiner-lista">
    {% for aluno in alunos %}
    <div class="card">
        <h2>Nome: {{ aluno.nome }}</h2>
        <p>ID: {{ aluno.id_usuario}}</p>
        <p>Papel: {{ aluno.papel }}</p>
        <p>Email: {{ aluno.email }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
