<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/static/estetica.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>

<header>
  <!-- Logo à esquerda -->
  <div class="conteiner">
        <div  class="logo" style="cursor: pointer;"><a href=""><img class="imagem_login" src='/static/logo.png'></a></div>
  </div>

  <!-- Área direita: usuário + menu -->
  <div class="usuario_menu">
    <!-- Usuário -->
    <div class="icones">

      <div class="icone_mais" id="botao_mais">
          <img src="/static/mais.png" alt="" style="width: 25px; height: 25px;">
      </div>
      <div class="icone" id="icone-perfil">
        <img src="/static/perfil.png" alt="" style="width: 25px; height: 25px; cursor: pointer;">
      </div>

      <!-- MENU QUE APARECE AO CLICAR -->
      <div class="menu-perfil" id="menu-perfil">
      <a href="#">👤 Ver perfil</a>
      <a href="#">✏️ Editar perfil</a>
      <a href="#">🚪 Sair</a>
      </div>

      <div class="nome-cargo">
        <p class="nome">GAJUMA</p>
        <p class="cargo">Admin</p>
      </div>
    </div>

    <!-- Menu abaixo do usuário -->
    <nav class="menu">
      <a href="{{ url_for('home')}}">Home</a>
      <a href="{{ url_for('pedidos')}}">Pedidos</a>
      <a href="{{ url_for('funcionarios')}}">Funcionários</a>
      <a href="{{ url_for('cadastro_alimCadastro alimentos</a>alimentosLista a
      <a href="{{ url_for('cadastro_alimentos')}}">Cadastro alimentos</a>
      <a href="http://localhost:63342/projeto_finalWEb/templates/status.html?_ijt=kfgvpbhdevnl896it7ut617g4g">Status</a>
    </nav>
  </div>
</header>

<!-- Painel de cadastro -->
<div class="painel-cadastro" id="painel-cadastro">
  <a href="http://localhost:63342/projeto_finalWEb/templates/cadastro_funcionario.html?_ijt=pmfmm49jgqui8kvmh9s85hgoq3">Cadastrar funcionário</a>
  <a href="http://localhost:63342/projeto_finalWEb/templates/cadastro_alimentos.html?_ijt=pmfmm49jgqui8kvmh9s85hgoq3">Cadastrar Alimento</a>
</div>


<div>
  <h1 class="nome_home">Dados estatísticos</h1>
</div>

<script>
  const iconePerfil = document.getElementById("icone-perfil");
  const menuPerfil = document.getElementById("menu-perfil");

  iconePerfil.addEventListener("click", () => {
    menuPerfil.style.display =
      menuPerfil.style.display === "block" ? "none" : "block";
  });

  document.addEventListener("click", (event) => {
    if (!iconePerfil.contains(event.target) && !menuPerfil.contains(event.target)) {
      menuPerfil.style.display = "none";
    }
  });
</script>


<script src="main.js"></script>

</body>
</html>
