<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AROMA E SABOR</title>
    <link rel="stylesheet" href="/static/css_novo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<div class="tela-login">
    <div class="container-borda">
        <div class="container-conteudo">

            <img src="/static/imagens/logo.png" alt="Logo da lanchonete" class="logo-form">
            <form id="postForm" class="form-login" method="POST">
                <label class="label">
                    Email:
                    <br>
                    <input type="email" class="input-login" name="email" placeholder="Insira seu email">
                </label>
                <br>
                <label class="label">
                    Senha:
                    <br>
                    <input type="password" class="input-login" name="senha"  placeholder="Insira sua senha">
                </label>
                <br>
                <button type="submit" class="button-login">Entrar</button>

                <div class="separator">ou</div>
            </form>

            <div class="d-flex flex-row subtitulo-form">
                <p>Ainda não possui uma conta?</p>
                <a href="{{ url_for('usuario_cadastro')}}" class="button-cadastro">Crie aqui</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>