<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Lista de pedidos</title>
  <link rel="stylesheet" href="/static/estetica.css">
</head>
<body>

<header>
  <!-- Logo à esquerda -->
  <div class="conteiner">
        <div  class="logo" style="cursor: pointer;"><a href=""><img class="imagem_login" src='/static/logo.png'></a></div>
  </div>
  <!-- Área direita: usuário + menu -->
  <div class="usuario_menu">
    <!-- Usuário -->
    <div class="icones">
      <div class="icone">
          <img src="/static/perfil.png" alt="" style="width: 25px; height: 25px;">
      </div>
      <div class="nome-cargo">
        <p class="nome">GAJUMA</p>
        <p class="cargo">Admin</p>
      </div>
    </div>

    <!-- Menu abaixo do usuário -->
    <nav class="menu">
      <a href="#">Cadastro de produtos</a>
      <a href="#">Pedidos</a>
      <a href="#">Funcionários</a>
      <a href="#">Status</a>
      <a href="#">Total de pedidos</a>
    </nav>
  </div>
</header>

<div class="pedido">
  <h1 class="nome_pedido">Pedidos</h1>
  <div class="pedidos">
    <div class="informacoes">
      <p><strong>Código:</strong> 12345</p>
      <p><strong>Descrição:</strong> Produto Exemplo</p>
      <p><strong>Valor:</strong> R$ 50,00</p>
      <p><strong>Quantidade:</strong> 2</p>
    </div>
    <div class="numero-pedido">1</div>
  </div>

  <div class="pedidos">
    <div class="informacoes">
      <p><strong>Código:</strong> 12346</p>
      <p><strong>Descrição:</strong> Outro Produto</p>
      <p><strong>Valor:</strong> R$ 75,00</p>
      <p><strong>Quantidade:</strong> 1</p>
    </div>
    <div class="numero-pedido">2</div>
  </div>
</div>




</body>
</html>
