<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Status</title>
    <link rel="stylesheet" href="/static/estetica.css">
</head>
<body>

  <header>
  <!-- Logo à esquerda -->
  <div class="conteiner">
        <div  class="logo" style="cursor: pointer;"><a href=""><img class="imagem_login" src='/static/logo.png'></a></div>
  </div>

   <!-- Área direita: usuário + menu -->
  <div class="usuario_menu">
    <!-- Usuário -->
    <div class="icones">

      <div class="icone_mais" id="botao_mais">
          <img src="/static/mais.png" alt="" style="width: 25px; height: 25px;">
      </div>
      <div class="icone" id="icone-perfil">
        <img src="/static/perfil.png" alt="" style="width: 25px; height: 25px; cursor: pointer;">
      </div>

      <!-- MENU QUE APARECE AO CLICAR -->
      <div class="menu-perfil" id="menu-perfil">
      <a href="#">👤 Ver perfil</a>
      <a href="#">✏️ Editar perfil</a>
      <a href="#">🚪 Sair</a>
      </div>

      <div class="nome-cargo">
        <p class="nome">GAJUMA</p>
        <p class="cargo">Admin</p>
      </div>
    </div>

    <!-- Menu abaixo do usuário -->
    <nav class="menu">
      <a href="http://localhost:63342/projeto_finalWEb/templates/home.html?_ijt=jgkm1rkcqpnancthbkrqj2r3hq">Home</a>
      <a href="http://localhost:63342/projeto_finalWEb/templates/alimentos.html?_ijt=4indtctctq9fdftqvuh1hs3go2">Alimentos</a>
      <a href="http://localhost:63342/projeto_finalWEb/templates/pedidos.html?_ijt=r239dokaeq5cue5ad7odktlcdh#">Pedidos</a>
      <a href="http://localhost:63342/projeto_finalWEb/templates/funcionarios.html?_ijt=hemcprhrtacmduqjs9ntjsck10">Funcionários</a>
      <a href="http://localhost:63342/projeto_finalWEb/templates/status.html?_ijt=kfgvpbhdevnl896it7ut617g4g">Status</a>
    </nav>
  </div>
</header>

<!-- Painel de cadastro -->
<div class="painel-cadastro" id="painel-cadastro">
  <a href="http://localhost:63342/projeto_finalWEb/templates/cadastro_funcionario.html?_ijt=pmfmm49jgqui8kvmh9s85hgoq3">Cadastrar funcionário</a>
  <a href="http://localhost:63342/projeto_finalWEb/templates/cadastro_alimentos.html?_ijt=pmfmm49jgqui8kvmh9s85hgoq3">Cadastrar Alimento</a>
</div>

<div class="status">
  <h1 class="nome_status">Status</h1>
  <div class="cards-container">

  <!-- Card: Preparando -->
  <div class="card-status preparando">
    <h2>Preparando</h2>

    <div class="bloco-info">
      <p><strong>Nome:</strong> João</p>
      <p><strong>Pedido:</strong> #001</p>
    </div>

    <div class="bloco-info">
      <p><strong>Nome:</strong> Maria</p>
      <p><strong>Pedido:</strong> #002</p>
    </div>

    <div class="bloco-info">
      <p><strong>Nome:</strong> Roberta</p>
      <p><strong>Pedido:</strong> #003</p>
    </div>

    <div class="bloco-info">
      <p><strong>Nome:</strong> Robson</p>
      <p><strong>Pedido:</strong> #004</p>
    </div>
  </div>

  <!-- Card: Recolher -->
  <div class="card-status recolher">
    <h2>Recolher</h2>

    <div class="bloco-info">
      <p><strong>Nome:</strong> Ana</p>
      <p><strong>Pedido:</strong> #006</p>
    </div>

    <div class="bloco-info">
      <p><strong>Nome:</strong> Pedro</p>
      <p><strong>Pedido:</strong> #007</p>
    </div>

    <div class="bloco-info">
      <p><strong>Nome:</strong> Joana</p>
      <p><strong>Pedido:</strong> #008</p>
    </div>

    <div class="bloco-info">
      <p><strong>Nome:</strong> Junior</p>
      <p><strong>Pedido:</strong> #010</p>
    </div>
    </div>
  </div>

</div>


<script>
  const iconePerfil = document.getElementById("icone-perfil");
  const menuPerfil = document.getElementById("menu-perfil");

  iconePerfil.addEventListener("click", () => {
    menuPerfil.style.display =
      menuPerfil.style.display === "block" ? "none" : "block";
  });

  document.addEventListener("click", (event) => {
    if (!iconePerfil.contains(event.target) && !menuPerfil.contains(event.target)) {
      menuPerfil.style.display = "none";
    }
  });
</script>


<script src="main.js"></script>

</body>
</html>
