<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Total de pedidos</title>
    <link rel="stylesheet" href="/static/estetica.css">
</head>
<body>
<header>
  <!-- Logo à esquerda -->
  <div class="conteiner">
        <div  class="logo" style="cursor: pointer;"><a href=""><img class="imagem_login" src='/static/logo.png'></a></div>
  </div>
  <!-- Área direita: usuário + menu -->
  <div class="usuario_menu">
    <!-- Usuário -->
    <div class="icones">
      <div class="icone">
          <img src="/static/perfil.png" alt="" style="width: 25px; height: 25px;">
      </div>
      <div class="nome-cargo">
        <p class="nome">GAJUMA</p>
        <p class="cargo">Admin</p>
      </div>
    </div>

    <!-- Menu abaixo do usuário -->
    <nav class="menu">
      <a href="http://localhost:63342/projeto_finalWEb/templates/home.html?_ijt=jgkm1rkcqpnancthbkrqj2r3hq">Home</a>
      <a href="http://localhost:63342/projeto_finalWEb/templates/cadastro_alimentos.html?_ijt=dgcpuvvj08qmfprd7100v8sncf">Cadastro de alimentos</a>
      <a href="http://localhost:63342/projeto_finalWEb/templates/pedidos.html?_ijt=r239dokaeq5cue5ad7odktlcdh#">Pedidos</a>
      <a href="http://localhost:63342/projeto_finalWEb/templates/funcionarios.html?_ijt=hemcprhrtacmduqjs9ntjsck10">Funcionários</a>
      <a href="http://localhost:63342/projeto_finalWEb/templates/status.html?_ijt=kfgvpbhdevnl896it7ut617g4g">Status</a>
      <a href="http://localhost:63342/projeto_finalWEb/templates/total_pedidos.html?_ijt=j7a8h1bv29t2r2a9cmirfpsvte">Total de pedidos</a>
    </nav>
  </div>
</header>
</body>
</html>